<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/kBelirle.css">
</head>

<body>
    <div class="mevsimci">
        <h1>MEVSİMCİ</h1>
    </div>

    <div class="container">
        <div class="box">
            <form id="choiceForm">
                <div class="options">
                    <input type="radio" id="option1" name="choice" value="{{ url_for('Registerisveren') }}" required>
                    <label for="option1">İşveren olarak kayıt yap</label>
                </div>
                <div class="options">
                    <input type="radio" id="option2" name="choice" value="{{ url_for('Registerisci') }}">
                    <label for="option2">işçi olarak kayıt yap</label>
                </div>
                <button type="submit">Devam Et</button>
            </form>
        </div>
    </div>


    
    <script>
        // Form gönderim olayını dinleyen JavaScript
        document.getElementById("choiceForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini engeller

            // Seçili radio butonunu bul
            const selectedChoice = document.querySelector('input[name="choice"]:checked');

            // Eğer bir seçim yapılmışsa yönlendirme yap
            if (selectedChoice) {
                window.location.href = selectedChoice.value; // Seçilen değeri URL olarak kullan
            } else {
                alert("Lütfen bir seçenek seçin!");
            }
        });
    </script>


</body>
</html>