<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mevsimci Giriş</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/Registerişveren.css">
</head>
<body>

    <div class="mevsimci">
        <h1>MEVSİMCİ</h1>
    </div>

    <div class="parent">
        <div class="container">
            <div class="name">
                <h1>Hesap aç</h1>
            </div>

            <div class="information">
                <form action="/Registerişveren.html" method="post">

                    <div class="input-box1">
                        <input type="text" id="fname" name="fname" placeholder="Ad" required>
                        <input type="text" id="lname" name="lname" placeholder="SoyAd" required>
                    </div>

                    <div class="input-box1">
                        <input type="text" id="firmaAdi" name="firmaAdi" placeholder="Firma Adı" required>
                        <input type="text" id="phone" name="phone" placeholder="Telefon Numarası" maxlength="11" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    </div>

                    <div class="input-box1">
                        <select class="from-select" name="sehir" required aria-label="Şehir">
                            <option selected disabled>Şehir</option>
                            <option value="Adana">01 - Adana</option>
                            <option value="Düzce">81 - Düzce</option>
                        </select>
                        <input type="text" id="ilce" name="ilce" placeholder="İlçe" required>
                    </div>

                    <div class="input-box2">
                        <input type="email" id="email" name="email" placeholder="E-postanızı girin" required>
                        <img src="static/img/user-solid-24.png" alt="">
                    </div>

                    <div class="input-box2">
                        <input type="password" id="password" name="password" placeholder="Şifre girin" required>
                        <img src="static/img/lock-alt-solid-24.png" alt="">
                    </div>

                    <div class="check1">
                        <label><input type="checkbox" required><a href="#">Bireysel Hesap Sözleşmesi ve Ekleri</a>'ni kabul ediyorum.</label>
                    </div>

                    <div class="check1">
                        <p><input type="checkbox">İletişim bilgilerime kampanya, tanıtım ve reklam içerikli <br> ticari verilerimin işlenmesine ve tedarikçilerinizle <br> paylaşılmasına izin veriyorum.</p>
                    </div>

                    <button class="btn" type="submit">Kaydı Tamamla</button>

                </form>
            </div>
        </div>
    </div>

</body>
</html>
